<% if resource.invalid? %>
 <!-- <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>11<%= message %></li>
      <% end %>
    </ul>
  </div>
    -->

    <div class="error">
          <li><%= resource.errors.full_messages.first %></li>
    </div>
<% end %>
