<tr class="custom_row">
  <td class="custom_category_field"><p class="show_id"><%= category.id%></p></td>
  <td class="custom_category_field"><p class="show_name"><%= category.name%></p></td>
  <td class="custom_category_field"><p class="show_priority"><%= category.priority%></p></td>
  <td class="custom_category_field"><button type="button" class="custom_purple_btn">Edit</button>
    <button type="button" class="custom_purple_btn">Delete</button></td>
</tr>