<div class="row mb-4">
  <div class="col-10">
    <div class="card mb-3 border-0" >
      <div class="row no-gutters">
        <div class="col-md-5" style="background: #868e96;">
          <img src="/examples/images/sample.svg" class="card-img-top h-100" alt="...">
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title">Product_name</h5>
            <p class="card-text d-inline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat accumsan sem, sed convallis arcu ultricies at. </p>
            <div class="card-footer">
              <small>$400 - DISCOUNT = $320</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2 d-flex justify-content-center align-items-center">
    <input type="number" value="1" min="0" max="1000" class="form-control">
  </div>
</div>