<%= stylesheet_pack_tag 'application' %>
<%= javascript_pack_tag 'orders' %>
<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <%= render partial:'shared/navigation' %>
    </div>
  </div>
    <%= content_tag :div, id: "cart_container", data: {products: @products, order: @order}.to_json do %>
    <% end %>
</div>


