<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <%= render partial:'shared/navigation' %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <ul class="list-group overflow-auto h-25">
        <li class="list-group-item list-group-item-action active">Category_1</li>
        <% 5.times  do |i|%>
              <li class="list-group-item list-group-item-action">Category_<%= i+2 %></li>
        <% end %>
      </ul>
      <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Go!</button>
        </div>
      </div>
    </div>
    <div class="col-10 ">
      <div class="row">
        <% 12.times do %>
          <div class="col-6">
            <%= render partial:'shared/product_card' %>
          </div>
        <% end %>
      </div>
      <%= render partial: 'shared/pagination' %>
    </div>
  </div>
</div>

