<%= stylesheet_pack_tag 'application' %>
<%= javascript_pack_tag 'pages' %>
<div class="container">
  <div class="row mb-5">
    <div class="col-12">
      <%= render partial:'shared/navigation' %>
    </div>
  </div>
  <%= content_tag :div, id: "vue_container", data: {categories:@categories, products:@products}.to_json do %>
  <% end %>
</div>
